<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extra Charges</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body id="extra-body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid d-flex">
            <a class="navbar-brand" href="#">
                <i id="icon" class='bx bx-cycling'></i>
                Rental Cycle
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/scanner">Scan</a>
                    </li>
                    <% if(curuser.isAdmin){%>
                        <li class="nav-item">
                            <a class="nav-link" href="/generetor" tabindex="-1">QR Generetor</a>
                        </li>
                    <% } %>
                    <li class="nav-item ml-auto">
                        <a class="nav-link" href="/logout" tabindex="-1">logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="mt-5 container" id="extra">
        <div class="m-5">
            <p class="fs-3">You have been used our cycle for extra <%= hours %> hours. So you have pay extra by clicking te button below</p>
            <button id="button" class="btn btn-primary">Pay extra ₹<%= hours * 20 %> </button>
        </div>
    </div>

</body>

<script type="text/javascript" defer>
    document.getElementById('button').addEventListener('click', pay, false);
    async function pay(){

        let amt = "<%= hours %>" * 20 * 100;
        let key = "<%= key %>";
        let log_id = "<%= log %>";
        let cid = "<%= cid %>"
        var url = "/api/payment/order"
        var params = {
            amount: amt,
            currency: "INR",
            receipt: "Rental cycles",
            payment_capture: '1'
        };
        var data = await axios.post(url, { params: params })
        order_id = data.data.sub.id
        var options = {
            "key": key,
            "currency": "INR",
            "name": "Rental cycle",
            "description": "WtH Coding Transaction",
            "order_id": order_id,
            "handler": async function (response) {
                if (response.razorpay_payment_id && response.razorpay_order_id && response.razorpay_signature) {
                    var params = {
                        amt: amt/100
                    }
                    console.log(params)
                    var data = await axios.post(`/extra/${log_id}/${cid}/`, { params: params })
                    console.log(data)
                    if (data.data.msg == "success") {
                        alert('Payment Succeed');
                        var url = window.location.href
                        var domain = url.replace('http://', '').replace('https://', '').split(/[/?#]/)[0];
                        location.replace(`http://${domain}/`)
                    } else {
                        alert('Error');
                    }
                } else {
                    alert("Error occured in payment");
                }
            },
            "theme": {
                "color": "#0EB9F2"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
</script>
</html>